<!doctype html>
<html>
  <head>
    <script src="static/bundle.js"></script>
  </head>
  <body>
    <p id="state"></p>
    <p id="space"></p>
    <div id="preview"></div>
    <script type="text/javascript">
      start({{ schemaJson | tojson }})
    </script>
  </body>
</html>
